[[tool.poetry.source]]
name = "tsinghua"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"


# 在 pyproject.toml 中添加了此配置后，poetry.lock 也需要跟着更新
# 需要在 dockerfile 中，真正需要 poetry 安装依赖之前，配置：RUN poetry lock 来更新一下 lock 文件；
# 例如下，就在 peotry 之前更新一下 .lock 文件：

RUN poetry lock
RUN poetry install --no-ansi --no-root
